In [2]:
#Importing libraries

import pandas as pd

In [4]:
#Importing the data from the csv file
data = pd.read_csv(r"C:\Users\ADORABELLA\Documents\GODWIN\CAREER\DATA ANALYST\PORTFOLIO\Rune Tutorials\Financial Analysis\AAPL.csv", index_col=0, parse_dates=True)

In [5]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-03,135.759995,135.770004,133.610001,133.940002,133.119339,89880900
2021-02-04,136.300003,137.399994,134.589996,137.389999,136.548218,84183100
2021-02-05,137.350006,137.419998,135.860001,136.759995,136.125168,75693800
2021-02-08,136.029999,136.960007,134.919998,136.910004,136.274490,71297200
2021-02-09,136.619995,137.880005,135.850006,136.009995,135.378647,76774200

In [16]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [6]:
#Looking at the data type of the dataframe itself

type(data)

pandas.core.frame.DataFrame

In [7]:
#To access a specific column e,g the 'close column' 
# Note that the spelling must be the same because python is case sensitive at this point

data['Close']

Date
2021-02-03    133.940002
2021-02-04    137.389999
2021-02-05    136.759995
2021-02-08    136.910004
2021-02-09    136.009995
                 ...
2022-01-27    159.220001
2022-01-28    170.330002
2022-01-31    174.779999
2022-02-01    174.610001
2022-02-02    175.839996
Name: Close, Length: 253, dtype: float64

In [8]:
#Looking at the type of the object

type(data['Close'])

pandas.core.series.Series

In [27]:
#Looking at the difference between the opening price and the closing price. I will call it "Daily change".
daily_chg = data['Open']-data['Close']

In [29]:
daily_chg

Date
2021-02-03    1.819993
2021-02-04   -1.089996
2021-02-05    0.590011
2021-02-08   -0.880005
2021-02-09    0.610000
                ...
2022-01-27    3.229996
2022-01-28   -4.619995
2022-01-31   -4.619995
2022-02-01   -0.600006
2022-02-02   -1.089996
Length: 253, dtype: float64

In [32]:
#To see daily_chg data type
type(daily_chg)

pandas.core.series.Series

In [38]:
#Looking at the daily percentage change
daily_pct_chg = (data['Close']-data['Open'])/data['Open']*100

In [39]:
daily_pct_chg

Date
2021-02-03   -1.340596
2021-02-04    0.799704
2021-02-05   -0.429568
2021-02-08    0.646920
2021-02-09   -0.446494
                ...
2022-01-27   -1.988302
2022-01-28    2.788000
2022-01-31    2.715089
2022-02-01    0.344811
2022-02-02    0.623746
Length: 253, dtype: float64

In [40]:
#To normalise my data i.e looking at a daily trade to know my entry, exit and gain/loss
#To know my entry point(cost price)
data['Close'].iloc[0]

133.940002

In [41]:
#To know my exit point(Selling Price)
data['Close'].iloc[-1]

175.839996

In [45]:
#To normalise my data to know by how much my asset has grown or reduced

norm = data['Close']/data['Close'].iloc[0] 
norm

Date
2021-02-03    1.000000
2021-02-04    1.025758
2021-02-05    1.021054
2021-02-08    1.022174
2021-02-09    1.015455
                ...
2022-01-27    1.188741
2022-01-28    1.271689
2022-01-31    1.304913
2022-02-01    1.303643
2022-02-02    1.312827
Name: Close, Length: 253, dtype: float64

In [46]:
#This means that 31% profit was made at the end of one year
#To confirm this analysis

data['Close'].iloc[0]*norm.iloc[-1]

175.839996

In [47]:
#The analysis above has given us the same value of the last closing price of the year
data['Close'].iloc[-1]

175.839996