In [1]:
#Importing libraries

import pandas as pd

In [2]:
#Importing the data from the csv file
data = pd.read_csv(r"C:\Users\ADORABELLA\Documents\GODWIN\CAREER\DATA ANALYST\PORTFOLIO\Rune Tutorials\Financial Analysis\AAPL.csv", index_col=0, parse_dates=True)

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-03,135.759995,135.770004,133.610001,133.940002,133.119339,89880900
2021-02-04,136.300003,137.399994,134.589996,137.389999,136.548218,84183100
2021-02-05,137.350006,137.419998,135.860001,136.759995,136.125168,75693800
2021-02-08,136.029999,136.960007,134.919998,136.910004,136.274490,71297200
2021-02-09,136.619995,137.880005,135.850006,136.009995,135.378647,76774200

In [12]:
#To add new column(Daily chg) to the dataframe
data['Daily chg'] = data['Close']-data['Open']
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg
Date,,,,,,,
2021-02-03,135.759995,135.770004,133.610001,133.940002,133.119339,89880900,-1.819993
2021-02-04,136.300003,137.399994,134.589996,137.389999,136.548218,84183100,1.089996
2021-02-05,137.350006,137.419998,135.860001,136.759995,136.125168,75693800,-0.590011
2021-02-08,136.029999,136.960007,134.919998,136.910004,136.274490,71297200,0.880005
2021-02-09,136.619995,137.880005,135.850006,136.009995,135.378647,76774200,-0.610000

In [30]:
# Adding another column(Normilsed) to the dataframe
data['Normalised'] = data['Close']/data['Close'].iloc[0]
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalised
Date,,,,,,,,
2021-02-03,135.759995,135.770004,133.610001,133.940002,133.119339,89880900,-1.819993,1.000000
2021-02-04,136.300003,137.399994,134.589996,137.389999,136.548218,84183100,1.089996,1.025758
2021-02-05,137.350006,137.419998,135.860001,136.759995,136.125168,75693800,-0.590011,1.021054
2021-02-08,136.029999,136.960007,134.919998,136.910004,136.274490,71297200,0.880005,1.022174
2021-02-09,136.619995,137.880005,135.850006,136.009995,135.378647,76774200,-0.610000,1.015455

In [28]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalised
Date,,,,,,,,
2022-01-27,162.449997,163.839996,158.279999,159.220001,159.220001,121954600,-3.229996,1.188741
2022-01-28,165.710007,170.350006,162.800003,170.330002,170.330002,179935700,4.619995,1.271689
2022-01-31,170.160004,175.000000,169.509995,174.779999,174.779999,115541600,4.619995,1.304913
2022-02-01,174.009995,174.839996,172.309998,174.610001,174.610001,86213900,0.600006,1.303643
2022-02-02,174.750000,175.880005,173.330002,175.839996,175.839996,79172100,1.089996,1.312827

In [34]:
#To get specific data from a specific column or from the entire dataframe
#Example, i will be getting the minimum closing price 
data['Close'].min()

116.360001

In [36]:
# I will also get the minimum price for each column in the dataframe
data.min()

Open          1.190300e+02
High          1.204000e+02
Low           1.162100e+02
Close         1.163600e+02
Adj Close     1.158199e+02
Volume        4.100000e+07
Daily chg    -7.020004e+00
Normalised    8.687472e-01
dtype: float64

In [37]:
#To know the data index of data['Close'].min()
data['Close'].argmin()

22

In [38]:
#To confirm the index figure 
data.iloc[22]

Open          1.209300e+02
High          1.210000e+02
Low           1.162100e+02
Close         1.163600e+02
Adj Close     1.158199e+02
Volume        1.543766e+08
Daily chg    -4.569999e+00
Normalised    8.687472e-01
Name: 2021-03-08 00:00:00, dtype: float64

In [39]:
#I also want to know the minimum value between indexes in a specific column
data['Close'].iloc[18:26]

Date
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
2021-03-09    121.089996
2021-03-10    119.980003
2021-03-11    121.959999
Name: Close, dtype: float64

In [40]:
#I also want to know the minimum value between indexes in the entire dataset
data.iloc[18:26]

,Open,High,Low,Close,Adj Close,Volume,Daily chg,Normalised
Date,,,,,,,,
2021-03-02,128.410004,128.720001,125.010002,125.120003,124.539207,102260900,-3.290001,0.934150
2021-03-03,124.809998,125.709999,121.839996,122.059998,121.493408,112966300,-2.750000,0.911304
2021-03-04,121.750000,123.599998,118.620003,120.129997,119.572365,178155000,-1.620003,0.896894
2021-03-05,120.980003,121.940002,117.570000,121.419998,120.856384,153766600,0.439995,0.906525
2021-03-08,120.930000,121.000000,116.209999,116.360001,115.819870,154376600,-4.569999,0.868747
2021-03-09,119.029999,122.059998,118.790001,121.089996,120.527916,129525800,2.059997,0.904061
2021-03-10,121.690002,122.169998,119.449997,119.980003,119.423080,111943300,-1.709999,0.895774
2021-03-11,122.540001,123.209999,121.260002,121.959999,121.393875,103026500,-0.580002,0.910557

In [41]:
data['Normalised'].min()

0.8687471947327581

In [43]:
data['Normalised'].argmin()

22

In [44]:
#To get the maximum close price
data['Close'].max()

182.009995

In [48]:
#To get the index of the maximum close price
data['Close'].argmax()

231

In [51]:
#To get the data of index 231 from the dataframe
data.iloc[231]

Open          1.778300e+02
High          1.828800e+02
Low           1.777100e+02
Close         1.820100e+02
Adj Close     1.820100e+02
Volume        1.044879e+08
Daily chg     4.179993e+00
Normalised    1.358892e+00
Name: 2022-01-03 00:00:00, dtype: float64

In [52]:
#To get the Mean price of the Closing prices
data['Close'].mean()

144.19039527667985

In [ ]:
#I wish to also drop some columns in the data frame
data.drop( labels = ['High','Low', 'Adj Close','Volume'], axis=1,inplace=True)

In [66]:
#Looking at the dataframe 
data.head()

                  Open       Close  Daily chg  Normalised
Date
2021-02-03  135.759995  133.940002  -1.819993    1.000000
2021-02-04  136.300003  137.389999   1.089996    1.025758
2021-02-05  137.350006  136.759995  -0.590011    1.021054
2021-02-08  136.029999  136.910004   0.880005    1.022174
2021-02-09  136.619995  136.009995  -0.610000    1.015455